:root {
  --main-color: #FF0000;
}

*{
	font-family: 'Noto Sans TC', sans-serif;
	color: #FF0000;
}
#app{
	background-color: black;
	min-height: 100vh;
	position: relative;
	font-size: 0;
	/*overflow: hidden;*/
}

.article{
	padding: 40px 20px;
}
.back{
	color: #fff;
	font-size: 24px;
	margin-bottom: 40px;
	display: inline-block;
}
.article h1,.article h3{
	color: #fff;
	text-align: center;
}
.article h1{
	font-size: 48px;
	margin-bottom: 30px;
	font-weight: bold;
}

.article h3{
	font-size: 18px;
	margin-bottom: 30px;
	font-weight: bold;
}
.article button{
	background-color: black;
	width: 80%;
	margin: 0 auto;
	border: 2px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	border-radius: 100px;
	color: #fff;
	line-height: 1.5;
	margin-bottom: 30px;
	max-width: 293px;
}
.article button img{
	margin-right: 10px;
}
.article .content{
	font-size: 16px;
	color: #fff;
	line-height: 2;
	/*text-align: justify;
	text-justify:inter-ideograph;
	word-wrap: break-word;*/
	margin-bottom: 90px;
}
.article .content span{
	cursor: pointer;
}
.goTop{
	font-size: 12px;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.goTop img{
	transform: rotate(90deg);
	width: 25px;
	margin-bottom: 15px;
}
@media(min-width: 576px){
	.article .content{
		font-size: 18px;
	}
	.article h1{
		font-size: 60px;
	}
	.article h3{
		font-size: 20px;
	}
	.article button{
		margin-bottom: 40px;
	}
}
@media(min-width: 900px){
	.article{
		padding: 60px 30px;
	}
	.article .content{
		font-size: 20px;
	}
	.article h1{
		font-size: 70px;
		text-align: left;
		margin-bottom: 40px;
	}
	.article h3{
		font-size: 22px;
		text-align: left;
	}
	.article button{
		margin: 0 0 50px auto;
	}
}
@media(min-width: 1200px){
	.article{
		padding: 80px 40px;
	}
	.article .content{
		font-size: 24px;
	}
	.article h1{
		font-size: 80px;
		text-align: left;
		margin-bottom: 50px;
	}
	.article h3{
		font-size: 24px;
		text-align: left;
	}
	.article button{
		margin: 0 0 60px auto;
	}
}