:root {
  --main-color: #FF0000;
}

*{
	font-family: 'Noto Sans TC', sans-serif;
	color: #FF0000;
}

#app{
	background-color: black;
	min-height: 100vh;
	position: relative;
	font-size: 0;
	/*overflow: hidden;*/
}

.declare{
	padding: 40px 22px 60px;
}

.declare h1{
	font-size: 32px;
	text-align: center;
	margin-bottom: 50px;
	font-weight: bold;
}
.declare ul li {
	display: flex;
	margin-bottom: 20px;
}
.declare ul li label{
	width: 24px;
	height: 24px;
	color: black;
	background-color: var(--main-color);
	border-radius: 50%;
	align-items: center;
	display: flex;
	justify-content: center;
	margin-right: 15px;
	font-family: 'Inter';
	font-size: 13px;
}
.declare ul li p {
	width: calc(100% - 39px );
	font-size: 16px;
	line-height: 1.5;
	font-weight: bold;
}
.author{
	padding-bottom: 115px;
}
.author h1, .crew h1{
	text-align: center;
	line-height: 2;
	font-size: 28px;
	border-top: 3px solid var(--main-color);
	border-bottom: 3px solid var(--main-color);
	margin-bottom: 40px;
}
.crew h1{
	margin-bottom: 70px;
}
.author ul{
	padding: 0 28px;
	display: flex;
	flex-wrap: wrap;
	max-width: 426px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
.author ul li{
	width: 50%;
}
.author ul li img{
	width: 100%;
}
.crew{
	padding-bottom: 80px;
	margin: 0 auto;
}
.crewList{
	max-width: 749px;
	margin: 0 auto;
}
.crew ul {
	padding-left: 68px;
}
.crew ul li{
	font-weight: bold;
	color: #fff;
	font-size: 12px;
	margin-bottom: 1.5em;
}
.crew ul li:nth-of-type(1),.crew ul:nth-of-type(2) li:nth-last-of-type(3){
	color: var(--main-color);
	font-size: 16px;
}
.crew ul:nth-of-type(2) li:nth-last-of-type(4){
	margin-bottom: 80px;
}
.crew ul:nth-of-type(1){
	margin-bottom: 80px;
}
.crew li:nth-last-of-type(1){
	margin-bottom: 30px;
}
@media (max-width: 350px){
	.crew ul{
		padding-left: 43px;
	}
}
@media (min-width: 576px){
	.author ul{
		max-width: 576px;
	}
	.author ul li{
		width: 167px;
		margin: 0 3px;
	}
	.crewList{
		max-width: 576px;
	}
	.crew ul li:nth-of-type(1),.crew ul:nth-of-type(2) li:nth-last-of-type(3){
		font-size: 20px;
	}
	.crew ul li{
		font-size: 16px;
	}
}
@media (min-width: 768px){
		.declare{
			padding: 80px 22px 60px;
		}
		.declare h1{
			font-size: 36px;
		}
		.author h1, .crew h1{
			font-size: 32px;
		}
		.declare ul{
			max-width: 724px;
	    margin: 0 auto;
		}
		.declare ul li p{
			font-size: 20px;
		}
		.declare ul li label{
			font-size: 16px;
			width: 28px;
    	height: 28px;
		}
		.author ul{
			max-width: 749px;
		}	
		.crewList{
			display: flex;
			justify-content: space-between;
			max-width: 749px;
		}
		.crewList ul{
			width: 50%;
		}
		.crew ul li:nth-of-type(1), .crew ul:nth-of-type(2) li:nth-last-of-type(3){
			font-size: 18px;
		}
		.crewList ul:nth-of-type(2){
			padding-left: 0;
		}
		.crew ul li{
			font-size:15px; 
		}
}
@media (min-width: 1200px){
	.declare{
		 padding: 90px 22px 100px;
	}
	.declare h1{
			font-size: 42px;
			margin-bottom: 70px;
	}
	.declare ul{
		max-width: 1100px;
	}
	.declare ul li{
		margin-bottom: 30px;
	}
	.declare ul li p{
		font-size: 30px;
	}
	.declare ul li label{
		font-size: 30px;
    width: 44px;
    height: 44px;
    margin-right: 25px;
	}
	.author h1, .crew h1{
			font-size: 36px;
			margin-bottom: 70px;
	}
	.author ul{
		max-width: 921px;
		justify-content: space-between;
		padding: 0;
	}
	.crewList{
		max-width: 921px;
	}
	.crew ul{
		padding-left: 40px;
	}
	.crew ul li{
		font-size: 20px;
	}
	.crew ul li:nth-of-type(1), .crew ul:nth-of-type(2) li:nth-last-of-type(3){
		font-size: 23px;
	}
}
@media (min-width: 1400px){
	.declare{
		 padding: 100px 22px 200px;
	}
	.declare h1{
			font-size: 48px;
			margin-bottom: 80px;
	}
	.declare ul{
		max-width: 1300px;
	}
	.declare ul li{
		margin-bottom: 40px;
	}
	.declare ul li p{
		font-size: 30px;
	}
	.declare ul li label{
		font-size: 30px;
    width: 52px;
    height: 52px;
    margin-right: 25px;
	}
	.author h1, .crew h1{
			font-size: 38px;
			margin-bottom: 80px;
	}
	.author ul{
		max-width: 997px;
	}
	.crewList{
		max-width: 997px;
	}
	.crew ul li{
		font-size: 23px;
	}
	.crew ul li:nth-of-type(1), .crew ul:nth-of-type(2) li:nth-last-of-type(3){
		font-size: 26px;
	}
}