h3.subtitle {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.2em;
}
a {
  color: #fff;
}
section h3 ul {
  padding: 1em;
  color: #fff;
  list-style-type: disc;
  overflow-x: hidden;
}
section h3 ul li {
  color: #fff;
}
section h4 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.5;
  color: rgb(100, 100, 100);
  margin-top: 1em;
  margin-bottom: 1.5em;
  text-align: center;
}
.database-url li:nth-of-type(1),.database-url li:nth-of-type(6),.database-url li:nth-of-type(7),.database-url li:nth-of-type(8),.database-url li:nth-of-type(9){
  text-decoration: underline;
  cursor: pointer;
}
.overview h1{
  text-align: center;
  margin-bottom: 1em;
}
.overview a{
  text-decoration: none;
}

.contracts{
  color: #fff;
  background-color: rgba(255, 255, 255, 0.085);
  padding: 15px 30px;
}

.contract-structure img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (min-width: 768px) {

  h3.subtitle {
    font-size: 24px;
  }

  section h4 {
    font-size: 16px;
  }

  .contract-structure img{
    width: 70%;
  }
}

@media (min-width: 1200px) {

  h3.subtitle {
    font-size: 32px;
  }
  section h3 ul {
    padding: 0em;
    overflow-x: visible;
  }
  section h4 {
    font-size: 21px;
  }
}
