:root {
  --main-color: #FF0000;
}

*{
	font-family: 'Noto Sans TC', sans-serif;
	color: #FF0000;
}

#app{
	background-color: black;
	min-height: 100vh;
	position: relative;
	font-size: 0;
	/*overflow: hidden;*/
}

.prove h1{
	font-size: 24px;	
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
}
.prove  p{
	font-size: 16px;
	color: #fff;
	line-height: 1.5;
	letter-spacing: 0.05em;
	margin-bottom: 30px;
}
::placeholder { /* CSS 3 標準 */
		  color: #fff;
		  opacity: 0.8;
}

::-webkit-input-placeholder { /* Chrome, Safari */
  color: #fff;
  opacity: 0.8;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  opacity: 0.8;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity: 0.8;
}
.searchInput{
	width: 100%;
	background-color: inherit;
	color: #fff;
	border: 3px solid var(--main-color);
	box-sizing: border-box;
	font-size: 20px;
	margin-bottom: 1.5em;
	position: relative;
}
.prove input{
	font-size: 20px;
	padding: 5px;
	background-color: inherit;
	width: 100%;
	outline: none;
	border: none;
}

/* Arrow */
.searchInput span {
	cursor: pointer;
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  background-image: url(../image/magnifier.svg);
  right: 10px;
  top: 50%;
  background-size: 100%;
  /*background-color: var(--main-color);
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);*/
  display: inline-block;
  transform: translateY( -50%);
}

.prove{
	padding: 60px 20px;
}
.result{
	display: flex;
	flex-wrap: wrap;
}
.result img{
	width: 100%;
}
.result a{
	width: 100%;
	margin-bottom: 20px;
}
input{
	color: #fff;
}
@media(min-width: 576px){
	.prove{
		max-width: 576px;
		margin: 0 auto;
	}
	.result a{
		margin-right: 2%;
		width: 49%;
		/*max-width: 185px;*/
		margin-bottom: 2%;
	}
	.result a:nth-of-type(2n){
		margin-right: 0;
	}
	.searchInput{
		max-width: 462px;
	}

}
@media(min-width: 768px){
	.prove h1{
		font-size: 30px;
		margin-bottom: 60px;
	}
	.prove p{
		font-size: 22px;
		margin-bottom: 50px;
	}
	.prove{
		max-width: 700px;
		padding: 100px 20px;
	}
	.searchInput{
		margin: 0 auto 3.5em;
	}
	.result a{
		width: 32%;
	}
	.result a:nth-of-type(2n){
		margin-right: 2%;
	}
	.result a:nth-of-type(3n){
		margin-right: 0;
	}
}
@media(min-width: 1200px){
	.prove h1{
		font-size: 34px;
		margin-bottom: 60px;
	}
	.prove p{
		font-size: 24px;
		margin-bottom: 70px;
	}
	.prove{
		max-width: 700px;
		padding: 120px 20px;
	}
	.searchInput{
		margin: 0 auto 5em;
	}
	.result a{
		width: 23%;
	}
	.result a:nth-of-type(2n){
		margin-right: 2%;
	}
	.result a:nth-of-type(3n){
		margin-right: 2%;
	}
	.result a:nth-of-type(4n){
		margin-right: 0;
	}
}

@media(min-width: 1400px){
	.prove h1{
		font-size: 38px;
		margin-bottom: 80px;
	}
	.prove p{
		font-size: 28px;
		margin-bottom: 90px;
	}
	.prove{
		max-width: 1200px;
		padding: 160px 0px;
	}
	.searchInput{
		margin: 0 auto 5em;
	}
	.result a{
		width: 16.9%;
		margin-right: 3.85%;
		margin-bottom: 3.85%;
	}
	.result a:nth-of-type(2n),.result img:nth-of-type(3n),.result img:nth-of-type(4n){
		margin-right: 3.85%;
	}
	.result a:nth-of-type(5n){
		margin-right: 0;
	}
}

